[submodule "docs"]
	path = docs
	url = git@github.com:expresso-code-org/knowledge.git
[submodule "projects/documentation"]
	path = projects/documentation
	url = git@github.com:expresso-code-org/documentation.git
[submodule "projects/project-ai-social-worker-form"]
	path = projects/project-ai-social-worker-form
	url = git@github.com:expresso-code-org/project-ai-social-worker-form.git
[submodule "forks/ai-engineering-from-scratch"]
	path = forks/ai-engineering-from-scratch
	url = git@github.com:expresso-code-org/ai-engineering-learning.git
[submodule "tutorial/go-backend-masterclass"]
	path = tutorial/go-backend-masterclass
	url = git@github.com:expresso-code-org/go-backend-masterclass.git
[submodule "projects/container-ui"]
	path = projects/container-ui
	url = git@github.com:expresso-code-org/apple-container-ui.git
[submodule "projects/knowledge-forest-README"]
	path = projects/knowledge-forest-README
	url = git@github.com:knowledge-forest/knowledge-forest.git
[submodule "forks/jobsmith"]
	path = forks/jobsmith
	url = git@github.com:kevin333353/jobsmith.git
